<div class="layout layout-nav-top">
  <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    {{#link-to "root.index" class="navbar-brand"}}
      Chips & Tips
    {{/link-to}}
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          {{#link-to "root.index" class="nav-link" }}Главная{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "root.stuffs.index" class="nav-link" }}Персонал{{/link-to}}
        </li>
      </ul>
      <div class="d-lg-flex align-items-center">
        <div class="dropdown mx-lg-2">
          <button class="btn btn-primary btn-block" type="button" {{action 'invalidateSession'}}>
            Выйти
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="container">
      <div class="row justify-content-center">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
